<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>Sender My Push Messages To My Slaves</h1>
	<p>
		Welcome to
		<%= title %>
		!
	</p>
	<br>
	<fieldset>
	    <!-- /은 node의 루트 디렉토리에 도착한다는 의미.-->
		<form action="/" method="post">
			<label for="token">You Slave's Token : </label>
			<input text="text" name="token" size="70%" placeholder="input your token" value="cfMNqtUxzC0:APA91bEvIXJVzVEUuQUtchzMWVKasLtIsX0OvFiKEHueKOceUGShxIfdRynl_78NwBHwqwKTqmijnee_P9M4VFfTGk6HCY7zt_MUkBnOkhEjujbpUWmMlYVfX1wH1bPrwJFxZA8SdwHt"/>
			<br>
			<label for="msg">Title for Message : </label>
			<input text="text" name="title" size="70%" placeholder="input your message title"/>
			<br>
			<label for="msg">Message to send : </label>
			<input text="text" name="msg" size="70%" placeholder="input your message for your slaves"/>
			<br><br>
			<input type="submit" value="send"/>
		</form>
	</fieldset>
</body>
</html>